<a href="https://colab.research.google.com/github/ReidelVichot/PUS2022_RVichot/blob/main/Week11_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
ls

drive/  sample_data/

In [2]:
cd /content/drive/My Drive

/content/drive/My Drive

In [5]:
ls kag?

Object `kag` not found.

In [6]:
ls kag*

kaggle.json

In [7]:
!chmod 600 kaggle.json

In [9]:
from IPython.core.display import json
envs = json.load(open("kaggle.json", "r"))

In [10]:
envs["username"]

'reidelvichot'

In [11]:
import os
os.environ["KAGGLE_USERNAME"] = envs["username"]
os.environ["KAGGLE_KEY"] = envs["key"]

In [13]:
!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2022.9.24)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [16]:
!kaggle datasets list

ref                                                             title                                            size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------------------  ----------------------------------------------  -----  -------------------  -------------  ---------  ---------------
akshaydattatraykhare/diabetes-dataset                           Diabetes Dataset                                  9KB  2022-10-06 08:55:25          10946        347  1.0
whenamancodes/covid-19-coronavirus-pandemic-dataset             COVID -19 Coronavirus Pandemic Dataset           11KB  2022-09-30 04:05:11           8713        280  1.0
stetsondone/video-game-sales-by-genre                           Video Game Sales by Genre                        12KB  2022-10-31 17:56:01            756         23  1.0
whenamancodes/credit-card-customers-prediction                  Credit Card Customers Prediction                379KB  2022-10-30 13:03:27           1312         40  1.0
whenamancodes/students-performance-in-exams                     Students Performance in Exams                     9KB  2022-09-14 15:14:54          15135        283  1.0
akshaydattatraykhare/data-for-admission-in-the-university       Data for Admission in the University              4KB  2022-10-27 11:05:45           1843         42  1.0
michaelbryantds/electric-vehicle-charging-dataset               Electric Vehicle Charging Dataset                98KB  2022-11-02 01:45:23            628         32  0.9411765
maharshipandya/-spotify-tracks-dataset                          ðŸŽ¹ Spotify Tracks Dataset                          8MB  2022-10-22 14:40:15           2164         70  1.0
hasibalmuzdadid/global-air-pollution-dataset                    Global Air Pollution Dataset                    371KB  2022-11-08 14:43:32           1088         42  1.0
whenamancodes/amazon-reviews-on-women-dresses                   Amazon Reviews on Women Dresses                   3MB  2022-10-29 12:47:06            498         32  1.0
akshaydattatraykhare/car-details-dataset                        Car Details Dataset                              56KB  2022-10-21 06:11:56           2640         44  1.0
whenamancodes/international-football-from-1872-to-2022          International Football from 1872 to 2022        572KB  2022-10-30 13:27:29            632         28  0.9411765
whenamancodes/customer-personality-analysis                     Company's Ideal Customers | Marketing Strategy   62KB  2022-10-30 14:17:42            884         31  1.0
dimitryzub/walmart-coffee-listings-from-500-stores              Walmart Coffee Listings from 500 stores          85KB  2022-10-25 09:20:12           1259         40  1.0
dheerajmukati/most-runs-in-cricket                              Most Runs in International cricket                4KB  2022-10-16 16:49:20            676         31  1.0
thedevastator/food-prices-year-by-year                          Global Food Prices Year By Year                   7KB  2022-10-30 08:49:55            887         31  1.0
saikumartamminana/gold-price-prediction                         Gold Price Prediction                            41KB  2022-10-30 19:07:30            944         24  0.8235294
thedevastator/udemy-courses-revenue-generation-and-course-anal  Udemy Courses                                   429KB  2022-10-17 00:11:53           1890         57  1.0
whenamancodes/adidas-us-retail-products-dataset                 Adidas US Retail Products Dataset               286KB  2022-10-26 15:44:20            708         33  1.0
jainilcoder/online-payment-fraud-detection                      Online Payment Fraud Detection                  178MB  2022-10-26 12:35:46           1035         38  0.9705882

In [17]:
!mkdir TitanicKaggleData

In [18]:
cd TitanicKaggleData/

/content/drive/MyDrive/TitanicKaggleData

In [19]:
!kaggle competitions download -c titanic

Downloading titanic.zip to /content/drive/MyDrive/TitanicKaggleData
  0% 0.00/34.1k [00:00<?, ?B/s]
100% 34.1k/34.1k [00:00<00:00, 5.45MB/s]

In [20]:
ls

titanic.zip

In [21]:
!unzip titanic.zip

Archive:  titanic.zip
  inflating: gender_submission.csv
  inflating: test.csv
  inflating: train.csv

In [23]:
import pandas as pd
titanic = pd.read_csv("train.csv")[["Survived", "Pclass", "Age", "Sex"]]
titanic.shape

(891, 4)

In [24]:
titanic["gender"] = titanic["Sex"].map({"male":0, "female":1})

In [25]:
titanic.drop("Sex", axis = 1, inplace= True)

In [26]:
titanic.dropna(how="any", axis=0, inplace= True)  #axis 0 removes the row

In [27]:
titanic

     Survived  Pclass   Age  gender
0           0       3  22.0       0
1           1       1  38.0       1
2           1       3  26.0       1
3           1       1  35.0       1
4           0       3  35.0       0
..        ...     ...   ...     ...
885         0       3  39.0       1
886         0       2  27.0       0
887         1       1  19.0       1
889         1       1  26.0       0
890         0       3  32.0       0

[714 rows x 4 columns]

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(titanic[["Pclass", "Age", "gender"]].values,
                                                    titanic["Survived"].values, train_size= 0.75,
                                                    random_state=123)

In [34]:
from sklearn import tree
clf = tree.DecisionTreeClassifier(max_depth=3, random_state=222)
clf.fit(X_train, y_train)
clf.score(X_train, y_train)

0.8074766355140187

In [35]:
clf.score(X_test, y_test)

0.7597765363128491